<!DOCTYPE html>
<html>
<head>
    <title>Retail Risk Intelligence</title>
    <style>
        body {
            font-family: Arial;
            background: #0f172a;
            color: white;
            padding: 20px;
        }

        .card {
            background: #1e293b;
            padding: 15px;
            margin: 10px 0;
            border-radius: 10px;
        }

        a {
            color: #38bdf8;
        }

        .high { border-left: 5px solid red; }
        .medium { border-left: 5px solid orange; }
        .low { border-left: 5px solid green; }
    </style>
</head>

<body>

<h1>🧠 Retail Risk Dashboard</h1>

{% for item in items %}

<div class="card
    {% if 'HIGH' in item.ai %}high{% endif %}
    {% if 'MEDIUM' in item.ai %}medium{% endif %}
    {% if 'LOW' in item.ai %}low{% endif %}
">

    <b>{{ item.title }}</b><br><br>

    <a href="{{ item.link }}" target="_blank">Open Article</a><br><br>

    <small>{{ item.ai }}</small>

</div>

{% endfor %}

</body>
</html>